html, body {
  width: 100%;
  height: 100%;
  background-color: rgb(34, 100, 132);
  margin: 10px;
}

fieldset {
  padding: 10px 30px;
  width: 80%;
}

fieldset, legend {
  background-color: rgb(101, 192, 185);
  border: 8px solid rgb(35, 55, 100);
}

legend {
  padding: 8px 20px;
}

legend, input, select, textarea {
  background-color: rgb(255, 246, 229);
}

h1, h2, p {
  color: white;
}

h1, h2, legend, label {
  font-family: Lucida Grande;
}

p, input, select, textarea {
  font-family: geneva, verdana;
}

input, select, textarea {
  border: 5px solid rgb(35, 55, 100);
}

#button {
  padding: 5px 20px;
  font-family: Lucida Grande;
  font-weight: bold;
  font-size: 15px;
  color: black;
}